* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body {
	text-shadow: 1px 1px 15px #000000;
	font-family: 'Raleway', sans-serif;
	background:
	linear-gradient(
		rgba(17, 126, 112, 0.5),
		rgba(0, 88, 255, 0.2)
	),
	url(../images/4.jpeg)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	opacity: 0.2px;
}

.container {
	display: flex;
	align-items: center;
	width: 75%;
}

.overview{
	padding: 3rem;
}

.fullname{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
	color: #ffffff;
	animation: mymove 3s infinite;
}

@keyframes mymove {
  from {color: white;}
  to {color: blue;}
}

.job-title{
	color: #fff7cc;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.description{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
	color: #ffffff;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr{
	width: 15rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
}

a {
	color: #9af1fc;
	text-decoration: none;	
}

.works{
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
	color: #ffffff;
}

.works img{
	width: 60px;
	height: 60px;
	object-fit: cover;
	opacity: 0.5;
}

.works img:hover{
	opacity: 1;
}

.social-media a{
	color:#efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
	color: #ffffff;
}

.ad {
  	position: relative;
  	animation: mymov 5s infinite;
}

@keyframes mymov {
  from {left: 0px;}
  to {left: 200px;}
  from {color: white;}
  to {color: red;}
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: unset;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin: auto;
	display: block;
	opacity: 0.6;
}

.image-container img:hover {
	opacity: 1;
}

@media (max-width: 980px) {
.container {
flex-direction: column;
}

.image-container {
width: 100%;
padding: 3rem 0 0;
}

.overview {
order: 1;
padding: 3rem 0;
}

main {
background:
   /* top, transparent #9C27B0 */      
   linear-gradient(
    rgba(0, 255, 222, 0.45),
    rgba(0, 88, 255, 0.45)
   ),      
   /* bottom, image */      
   url(../images/5.jpg);
}

.fullname,
.job-title {
text-align: center;
}

.job-title {
font-weight: bolder;
}

.description {
text-align: center;
}

hr {
margin: auto;
}

.contact-btn {
display: block;
margin: auto;
}

.social-media {
text-align: center;
margin-top: 3rem;
}

.ad {
text-align: center;
}

.works {
text-align: center;
}


.demo p {
	color: #ffffff;
}